body,html{
    height: 100%;
    margin: 0;
}

body{
    background-image: url("../assets/authBG.jpg");
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.authBG{

    border-radius: 15px;
background: rgba(217, 217, 217, 0.67);
box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(13px);
height: auto;

width: 100%;
max-width: 500px;

padding: 40px;
box-sizing: border-box;
align-items: flex-start;

}

.loginText{
    padding-bottom: 3px;
    margin-bottom: 0;
    padding-left: 6px;
}

.loginField{
border-radius: 15px;
background: rgba(217, 217, 217, 0.67);
box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.25);
width: 100%;
height: 40px;
border: none;
box-sizing: border-box;
}

.loginItem{
    margin-bottom: 25px;
}

.loginField::placeholder{
    padding-left: 5px;
}

.authButtonL{
    border-radius: 15px;
background: #2C4C6E;
box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.25);
width: 100%;
height: 40px;
border: none;
box-sizing: border-box;
font-family: 'Times New Roman', Times, serif;
color: rgba(217, 217, 217, 0.67);;
font-size: medium;
margin-bottom: 5px;
}
.authButtonS{
    border-radius: 15px;
background: #2C4C6E;
box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.25);
width: 100%;
height: 30px;
border: none;
box-sizing: border-box;
font-family: 'Times New Roman', Times, serif;
color: rgba(217, 217, 217, 0.67);;
font-size: medium;
margin-bottom: 5px;
}